@font-face {
    font-family: 'Proxima Nova Reg';
    src: url(../fonts/ProximaNova-Regular.ttf);
}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url(../fonts/ProximaNova-Light.ttf);
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/ProximaNova-Bold.ttf);
}
@font-face {
    font-family: 'Palatino-Linotype';
    src: url(../fonts/Palatino-Linotype.ttf);
}
@font-face {
    font-family: 'VarelaReg';
    src: url(../fonts/VarelaRound-Regular.ttf);
}

.loader.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: green;
}

body {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
#root {
    overflow-x: hidden;
    position: relative;
}
h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #133b4d;
    font-family: 'Proxima Nova Bold';
}
h2 {
    font-size: 22px;
    font-family: 'Proxima Nova Bold';
}
p {
    font-size: 18px;
    font-family: 'Palatino-Linotype';
    color: #133b4d;
}
a {
    font-family: "Proxima Nova Reg";
    text-decoration: none;
    color: #133b4d;
}


.he {
    .tours-page__main-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h1, p { margin-right: 30px; }
        h1, p, a {
            text-align: right;
        }
        h1{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    p {
        font-family: "VarelaReg" !important;
    }
    header .menu .nav ul li a {text-align: right;}

    .about-us  {
        .description {
            h1, p { margin-right: 30px; }
            h1, p, a {
                text-align: right;
            }
        }
        
    }

    .test .question .answers .other-choice input[type=text] {
        direction: rtl;
        &::placeholder {
            font-family: "VarelaReg" !important;
            font-weight: bold;
        }
    }
}


header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(../img/header-mobile-bckg.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color .3s;

    &.active {
        background-color: #3d5ecc;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 16px 16px;
        background-image: none;
    }

    .logo {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        margin-left: 16px;
        display: flex;
        font-family: 'Palatino-Linotype';

        &::before {
            content: "";
            display: inline-block;
            background: url(../img/logo.svg) 0 0 no-repeat;
            width: 55px;
            height: 45px;
            margin-right: 13px;
            background-size: contain;
        }
    }

    div.burger {
        height: 26px; 
        width: 28px;
        cursor: pointer;	
        z-index: 16;
        position: relative;
        margin-right: 16px;
        background: url(../img/burger.svg) 0 0 no-repeat;
        background-size: contain;

        &.close {
            background-image: url(../img/close-menu.svg);
        }
    }

    .logo.active {
        color: #3d5ecc;
        z-index: 16;
        &::before {
            background-image: url(../img/logo-blue.svg);
            background-size: contain;
        }
    }

    .menu {
        position: fixed;
        top: -450px;
        width: 100%;
        height: 350px;
        background-color: #fff;
        border-radius: 0 0 16px 16px;
        z-index: 15;
        transition: all .3s;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active {
            top: 0;
        }

        &>.nav {
            font-size: 18px;
            text-transform: uppercase;
            color: #3d5ecc;
            margin-bottom: 38px;
            text-decoration: none;
            text-align: center;

            &.lang {
                padding: 5px 15px;
                display: inline-block;
                border: 1px solid #3d5ecc;
                border-radius: 6px;
            }

            ul {display: none;}
        }
    }
}

.about-us, .main-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    position: relative;
    background-size: 100% 100%;

    .description {
        background: url(../img/bottom-lines-about-us.svg) 0 0 no-repeat;
        background-size: 100% 100%;
        padding-bottom: 120px;
        margin-top: -70px;
        padding-top: 40px;
        z-index: 5;
    }

    .phone_number {
        position: absolute;
        top: 100px;
        z-index: 9;
        left: 20px;
        padding: 10px 15px;
        border-radius: 15px;
        padding-left: 60px;
        background-color: rgba(0, 0, 0, 0.2);
        font-family: "Proxima Nova Bold";
        font-size: 28px;
        color: #fff;

        &::before {
            content: "";
            display: block;
            width: 36px;
            height: 36px;
            left: 12px;
            top: 8px;
            border-radius: 50%;
            background: #fff url(../img/icons/phone.svg) 50% 50% no-repeat;
            position: absolute;
        }
    }

    h1 {
        color: #fff;
        margin-bottom: 24px;
        margin-left: 20px;
    }
    p {
        margin: 0 20px;
        color: #fff;
    }
    h1, p {
        z-index: 3;
    }
    .some-things {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: url(../img/some-things-mobile.svg) 0 0 no-repeat;
        background-size: 100% 83%;
        z-index: 2;
    }
    .landscape {
        z-index: 1;
        width: 100%;
        min-height: 386px;
        
        $imgs: first, second, third;

        @each $img in $imgs {
            &.#{$img} {
                background: url(../img/landscape-mobile-1-#{$img}.png) 50% 0 no-repeat;
                background-size: cover;
            }
        }
    }
    .alice-carousel__dots {
        position: absolute;
        bottom: 20%;
        left: calc(50% - 30px);

        &-item {
            background-color: #fff;
        }

        .__active {
            background-color: #3d5ecc;
        }
    }
}

/* tours page */



.tours-page {
    background-color: #fffef2;

    header:not(.active) {
        background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0,0,0,0));;
        box-shadow: none;
    }
    
    &__main-block {
        background: url(../img/details-mobile.png) 0 100% no-repeat;
        background-size: cover;
        z-index: 3;
        position: relative;
        padding: 190px 60px 160px;
        box-sizing: border-box;

        h1 {
            color: #fff;
            margin: 0 0 20px;
            max-width: 275px;

            &::after {
                content: "";
                display: block;
                width: 100px;
                height: 3px;
                background-color: #fff;
                margin-top: 20px;
            }
        }
        p {
            color: #fff; 
            line-height: 24px;
            max-width: 324px;
        }
    }

    .content {
        padding: 42px 62px 80px;
        .tour-property-card-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 280px;

            .tour-property-card {
                background-color: #fff;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 250px;
                height: 453px;
                box-sizing: border-box;
                padding: 40px 30px;
                margin: 0 15px 30px;
                z-index: 1;

                .icon {
                    width: 96px;
                    height: 96px;
                    margin-bottom: 40px;

                    $icons: dates, numbers_of_travelers, general_interested_areas, 
                    level_of_personal_service, type_of_travel, side_services, anything_else,
                    flights, car_rentals, insurances, hotels, attractions, tour_guides,
                    melbourne_and_south_victoria, between_brisbane_and_sydney, tropical_north;
    
                    @each $icon in $icons {
                        &.#{$icon} {
                            background: url(../img/icons/tours-pages/#{$icon}.svg) 0 0 no-repeat;
                            background-size: contain;
                        }
                    }
                }
                h3 {
                    font-family: "Palatino-Linotype";
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                }
                p {
                    color: #133B4D;
                    font-family: "Proxima Nova Reg";
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    margin: 0;
                    font-weight: bold;

                    &::after {
                        content: "";
                        display: block;
                        height: 3px;
                        width: 30px;
                        border-radius: 3px;
                        background-color: #133b4d;
                        margin: 20px auto 0;
                    }
                }
                .btn-contact {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 190px;
                    height: 40px;
                    border-radius: 30px;
                    box-sizing: border-box;
                    border: 1px solid #133B4D;
                    color: #133B4D;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 19px;
                    margin-top: auto;
                    font-weight: bold;
                }

                $color_names: yellow, main_blue, green, dark_blue, red, pink;
                $colors: #FFB700, #3D5ECC, #008a00, #133B4D, #FF0F00, #FF0098;

                @for $ind from 1 through length($color_names) {
                    $color: nth($colors, $ind);
                    $color_name: nth($color_names, $ind);

                    &.#{$color_name} {
                        h3 {color: $color;}
                        .btn-contact {border-color: $color;}
                    }
                }
            }
        }

        &.pct-page, &.gs-page, &.paot-page {
            position: relative;
            .line {
                display: block;
                position: absolute;
                width: 100%;
                z-index: 0;
                height: 600px;
                left: 0;

                &.first {
                    top: 0px;
                    background: url(../img/icons/tours-pages/line1.svg) 0 0 no-repeat;
                    background-size: 100% 100%;
                }
                &.second {
                    top: 35%;
                    background: url(../img/icons/tours-pages/line2.svg) 0 0 no-repeat;
                    background-size: 100% 100%;
                }
                &.third {
                    top: 70%;
                    background: url(../img/icons/tours-pages/line3.svg) 0 0 no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }

    .contact-us {
        background: url(../img/reviews-mobile.svg) 0 0 no-repeat;
        background-size: 100% 120%;
        width: 100%;
        padding: 100px 0 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            width: 80px;
            height: 80px;
            background: url(../img/icons/contact-us.svg) 0 0 no-repeat;
            background-size: contain;
            margin-bottom: 30px;
        }
        p {
            text-align: center;
            color: #fff;
            font-family: "Proxima Nova Reg";
            font-size: 18px;
            line-height: 22px;
            margin: 0 0 40px;
            max-width: 255px;

            &::after {
                content: "";
                display: block;
                height: 2px;
                width: 60px;
                background-color: #FFB700;
                margin: 20px auto 0;
            }
        }
        a.btn-contact {
            width: 295px;
            height: 50px;
            background-color: #fff;
            border-radius: 16px;
            color: #FFB700;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }
    }

    footer {
        background-color: #FFD400;
        position: relative;
        margin-top: 0px;
        padding: 20px;

        p {
            color: #fff;
            font-family: "Proxima Nova Reg";
            font-size: 14px;
            text-transform: uppercase;
        }

        .ss-links {
            display: flex;
            flex-direction: row;
            margin-right: 10px;

            &>div {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                
                $links: instagram, linkedin, facebook;

                @each $link in $links {
                    &.#{$link} {
                        background: url(../img/icons/tours-pages/#{$link}.svg) 0 0 no-repeat;
                        background-size: contain;
                    }
                }
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 64px;
            background: url(../img/tours-page-footer.svg) 0 0 no-repeat;
            background-size: 100% 100%;
            top: -63px;
        }
    }
}
/* end tours page */

/* details page */
.details-page {
    &.he {
        * {
            font-family: "VarelaReg" !important;
            text-align: right;
        }

        .details-page__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: end;
            margin-top: 80px;

            h1::after {
                right: 40px;
                position: absolute;
            }
            ul {
                li {
                    position: relative;
                    padding-right: 20px;
                    &::before {
                        position: absolute;
                        right: 0;
                        margin: 0;
                        top: 10px;
                    }
                }
            }
        }

        .form-details {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1 {
                text-align: end;
            }

            .input-text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                i {
                    right: 16px;
                    left: auto;
                }
            }

            input {
                direction: rtl;
                padding-right: 56px;
            }

            .input-checkbox {
                label {
                    padding-right: 46px;
                }

                &::after {
                    right: 0;
                }
            }
        }
    }
    background-color: #FFFEF2;
    
    &__main-block {
        width: 100%;
        height: 730px;
        background: url(../img/details-mobile.png) 0 0 no-repeat;
        background-size: cover;
        z-index: 3;
        position: relative;

        .logo {
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            font-family: 'Palatino-Linotype';
            margin: 20px 30px;

            &::before {
                content: "";
                display: inline-block;
                background: url(../img/logo.svg) 0 0 no-repeat;
                width: 55px;
                height: 45px;
                background-size: contain;
                margin-right: 13px;
            }
        }
    }

    &__description {
        margin-top: 70px;
        h1 {
            font-size: 30px;
            color: #fff;
            margin-left: 40px;
            margin-right: 40px;

            &::after {
                content: "";
                display: block;
                width: 100px;
                height: 4px;
                background-color: #fff;
                margin-top: 15px;
            }
        }
        ul {
            margin-left: 40px;
            margin-right: 40px;
            padding: 0;

            li {
                color: #fff;
                font-family: "Palatino-Linotype";
                font-size: 18px;
                line-height: 150%;
                list-style-type: none;
                margin-bottom: 20px;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #ffb700;
                    margin-right: 10px;
                }
            }            
        }
    }

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0,0,0,0));

        .lang {
            color: #fff;
            text-transform: uppercase;
            font-size: 22px;
            padding: 5px 15px;
            border: 1px solid #fff;
            border-radius: 6px;
            max-height: 40px;
            margin: 20px 30px;
            box-sizing: border-box;
        }
    }

    .form-details {
        padding: 100px 40px;
        margin-top: -120px;
        z-index: 1;
        position: relative;

        &>p {
            margin-bottom: 40px;
        }

        h1 {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 22px;
        }
        
        .divider {
            height: 3px;
            width: 87px;
            background-color: #ffd400;
            margin-bottom: 40px;
        }

        .input-text {
            width: 100%;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            position: relative;

            &.success {
                input[type=text] {
                    border-color: #008a00;
                }
                #name ~ i {
                    background-image: url(../img/icons/details-name-success-icon.svg);
                }
                #phone_number ~ i {
                    background-image: url(../img/icons/detail-phone-success-icon.svg);
                }
                #email ~ i {
                    background-image: url(../img/icons/details-email-success-icon.svg);
                }
            }
            &.error {
                input[type=text] {
                    border-color: #ff0f00;
                }
                #name ~ i {
                    background-image: url(../img/icons/details-name-error-icon.svg);
                }
                #phone_number ~ i {
                    background-image: url(../img/icons/detail-phone-error-icon.svg);
                }
                #email ~ i {
                    background-image: url(../img/icons/details-email-error-icon.svg);
                }
            }

            label {
                font-family: 'Proxima Nova Bold';
                color: #133b4d;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }

            input[type=text] {
                width: 100%;
                height: 50px;
                border-radius: 16px;
                box-sizing: border-box;
                border: 1px solid #ffd400;
                background-color: #fff;
                color: #133b4d;
                font-size: 14px;
                font-family: 'Proxima Nova Reg';
                padding-left: 46px;
                font-weight: normal;
                outline: none;
                transition: border-color .3s;

                &:focus {
                    border-color: #008a00;
                }

                &::placeholder {
                    color: #d6d6d6;
                    font-size: 14px;
                    font-family: 'Proxima Nova Reg';
                }
            }

            #name ~ i {
                background: url(../img/icons/details-name-icon.svg) 0 0 no-repeat;
            }
            #name:focus ~ i {
                background-image: url(../img/icons/details-name-success-icon.svg);
            }
            #phone_number ~ i {
                background: url(../img/icons/detail-phone-icon.svg) 0 0 no-repeat;
            }
            #phone_number:focus ~ i {
                background-image: url(../img/icons/detail-phone-success-icon.svg);
            }
            #email ~ i {
                background: url(../img/icons/details-email-icon.svg) 0 0 no-repeat;
            }
            #email:focus ~ i {
                background-image: url(../img/icons/details-email-success-icon.svg);
            }

            i {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 47px;
                left: 16px;
                transition: background-image .3s;
            }
        }

        .input-checkbox {
            position: relative;
            margin-bottom: 35px;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                top: 2px;
                display: block;
                width: 20px;
                height: 20px;
                border: 1px solid #ffd400;
                background-color: #fff;
                border-radius: 5px;
            }
            &.active::after {
                background: url(../img/icons/checked-icon.svg) 50% 49% no-repeat;
                border-color: #008a00;
            }
            label {
                color: #133B4D;
                font-family: 'Proxima Nova Reg';
                font-size: 14px;
                line-height: 28px;
                padding-left: 40px;
                display: block;
            }
            input[type=checkbox] {
                //display: none;
                position: absolute;
                left: -9999px;
            }
        }

        .input-text, .input-checkbox {
            span {
                display: block;
                color: #ff0f00;
                font-size: 14px;
                margin-top: 14px;
                margin-left: 16px;
                font-family: 'Proxima Nova Reg';
            }
        }

        input[type=submit] {
            border: 0;
            border-radius: 16px;
            background-color: #008a00;
            color: #fff;
            font-size: 18px;
            font-family: 'Proxima Nova Reg';
            letter-spacing: .1em;
            font-weight: 600;
            text-transform: uppercase;
            width: 100%;
            height: 50px;
            outline: none;
            cursor: pointer;
        }
    }

    footer.details-footer {
        background-color: #008a00;
        position: relative;
        width: 100%;
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0;


        .ss-links {
            display: flex;
            flex-direction: row;
            margin-right: 10px;

            &>a {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                
                $links: instagram, linkedin, facebook;

                @each $link in $links {
                    &.#{$link} {
                        background: url(../img/icons/tours-pages/tablet/#{$link}.svg) 0 0 no-repeat;
                        background-size: contain;
                    }
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -64px;
            display: block;
            width: 100%;
            height: 64px;
            background: url(../img/details-footer-mobile.svg) 0 0 no-repeat;
            background-size: 100% 100%;
        }

        span {
            color: #fff;
            font-size: 14px;
            font-family: 'Proxima Nova Bold';
            text-transform: uppercase;
        }
    }
}

/* end details page */

/* gallery page */
.gallery {
    margin: 120px auto 80px;
    max-width: 960px;
}
/* end gallery page */

.tour-card {
    width: 300px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

    .img {
        width: 100%;
        height: 160px;
        background: url(../img/big-car.jpg) 0 0 no-repeat;
        background-size: contain;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px 16px 0 0 ;
        }
    }
    a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 25px;
        border: 1px solid #133B4D;
        border-radius: 5px;
        padding: 10px 15px;
    }
    .price {
        display: none;
        flex-direction: row;
        justify-content: center;

        span {
            color: #ffd400;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            margin: 0 12px;
            &.num {
                font-weight: 600;
            }
        }
    }
    .divider {
        width: 80px;
        height: 2px;
        background-color: #ffd400;
        margin-bottom: 28px;
    }
    p {
        text-align: center;
        margin: 0 30px;
        font-size: 18px;
        overflow-y: hidden;

        &.title {
            font-weight: bold;
            text-transform: uppercase;
            line-height: 22px;
            font-family: 'Proxima Nova Bold';
            margin: 28px 10px;
            min-height: 45px;
        }
        &.description {
            line-height: 24px;
            margin: 27px 30px 45px;
            min-height: 140px;
        }
    }
}

.tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin-top: -100px;
    background: url(../img/background-popular-tours.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    padding-bottom: 140px;

    h1 {
        margin: 0;
        margin-top: 100px;
        text-align: center;
    }
    &>.divider {
        height: 3px;
        width: 165px;
        background-color: #ffd400;
        margin-top: 13px;
        margin-bottom: 50px;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        max-width: 300px;
        width: 300px;
        margin: 0 auto;

        .tour-card {
            margin-bottom: 25px;
            transition: transform ease-in-out .3s;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .description {
        margin: 0 20px 30px;
        p {text-align: center;}
    }
}

.paginator {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;

    button {
        background-color: #ffd400;
        width: 50px;
        height: 50px;
        border: 0;
        border-radius: 16px;
        cursor: pointer;
        outline: none;

        &::after {
            content: "";
            display: block;
            width: 12px;
            height: 20px;       
            margin: auto;
        }

        &.left {
            margin-right: 28px;
            &::after {
                background: url(../img/left-arrow.svg) 0 0 no-repeat;
            }
        }
        &.right {
            margin-left: 28px;
            &::after {
                background: url(../img/right-arrow.svg) 0 0 no-repeat;
            }
        }
    }
    .circles {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 0 4.5px;
            background-color: #ffe68f;
    
            &.active {
                background: url(../img/active-circle.svg) 0 0 no-repeat;
                width: 18px;
                height: 18px;
                background-size: contain;
            }
        }
    }
    
}

.types-of-tours {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: -80px;
    padding-top: 80px;

    .divider {
        height: 3px;
        width: 160px;
        background-color: #ff0098;
        margin-bottom: 60px;
    }

    &>p {
        line-height: 150%;
        text-align: center;
        margin: 20px;
    }

    .type {
        display: flex;
        flex-direction: column-reverse;
        padding: 16px;
        margin-bottom: 70px;
        position: relative;

        .description {
            margin-top: 300px;
            //width: 65%;
            width: 100%;
            z-index: 5;

            h2 { margin: 10px 0; text-transform: uppercase; }
            p { margin: 0 0 20px; }
            .num { 
                color: #133b4d; 
                font-size: 36px; 
                line-height: 44px; 
                font-family: 'Proxima Nova Bold';
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                color: #ffb700;
                text-transform: uppercase;
                border: 2px solid #ffb700;
                border-radius: 16px;
                padding: 0 27px;
                font-size: 18px;
                font-family: "Proxima Nova Reg";
                width: max-content;
                transition: color .3s, background-color .3s;

                &:hover {
                    color: #fff;
                    background-color: #ffb700;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
        }

        .img {
            position: relative;
            z-index: 5;
            min-width: 325px;
            margin: 0 auto;

            &::after {
                content: "";
                display: block;
                width: 350px;
                height: 280px;
                position: absolute;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
            }
        }


        &:nth-child(5) {
            h2 { color: #3dc8cc }

            &::after {
                background: url(../img/private-journeys-line.svg) 0 0 no-repeat;
                background-size: 100% 25%;
            }

            .img {
                &::before {
                    background: url(../img/private-journeys-mobile-bckg.svg) 0 0 no-repeat;
                    width: 428px;
                    height: 350px;
                    top: -80px;
                    left: -50px;
                }                

                &::after {
                    background: url(../img/private-journeys-mobile.png) 0 0 no-repeat;
                    left: 10px;
                }
            }
        }
        &:nth-child(6) {
            text-align: right;
            h2 { color: #008a00 }
            //flex-direction: row-reverse;

            .description a {margin-left: auto;}

            &::after {
                background: url(../img/group-journeys-line.svg) 0 0 no-repeat;
                top: -120px;
                background-size: 100% 50%;
            }

            .img::after {
                background: url(../img/group-journeys-mobile.png) 0 0 no-repeat;
                //right: 10px;
            }
            .img::before {
                background: url(../img/group-journeys-mobile-bckg.svg) 0 0 no-repeat;
                width: 428px;
                height: 350px;
                top: -30px;
                //right: -70px;
            } 
        }
        &:nth-child(7) {
            h2 { color: #ffb700 }

            &::after {
                top: -30px;
                background: url(../img/expeditionary-cruising-line.svg) 0 0 no-repeat;                
                background-size: 100% 50%;
            }

            .img::after {
                background: url(../img/expeditionary-cruising-mobile.png) 0 0 no-repeat;
                left: 10px;
            }
            .img::before {
                background: url(../img/expeditionary-cruising-mobile-bckg.svg) 0 0 no-repeat;
                width: 428px;
                height: 350px;
                top: -80px;
                left: -40px;
            } 
        }
    }
}

.reviews {
    background: url(../img/reviews-mobile.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    .review-cards {
        width: 100%;
        max-width: 520px;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;

        .review {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
            color: #fff;
            margin-bottom: 30px;
            box-sizing: border-box;
            width: 100%;
            min-width: 100%;
            transform: translateX(0%);
            transition: transform ease-in-out .3s;
    
            h2 {
                text-transform: uppercase;
            }
            .stars {
                display: flex;
                flex-direction: row;
                margin: 12px 0;
    
                span {
                    background: url(../img/unfilled-star.svg) 0 0 no-repeat;
                    width: 16px;
                    height: 16px;
                    margin: 0 6px;
    
                    &.active {
                        background-image: url(../img/filled-star.svg);
                    }
                }
            }
            p {
                color: #fff;
                text-align: center;
                margin-bottom: 40px;
            }
            .addresser {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    

    .paginator {
        margin-bottom: 15px;
        button {
            background-color: #fff;
            &.left::after {
                background-image: url(../img/arrow-left-blue.svg);
            }
            &.right::after {
                background-image: url(../img/arrow-right-blue.svg);
            }
        }
        .circles {
            span { background-color: #fff }
            span.active { background-image: url(../img/active-circle-blue.svg); }
        }
    }
}

.he .test .question .form-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h1 {
        text-align: end;
    }

    .input-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        i {
            right: 16px;
            left: auto;
        }
    }

    input[type=text] {
        direction: rtl;
        padding-right: 56px;
    }

    .input-checkbox {
        label {
            padding-right: 46px;
        }

        &::after {
            right: 0;
        }
    }
}

.test {
    background-size: 100% 100%;
    width: 100%;
    margin-top: -150px;
    padding-top: 100px;
    background: url(../img/test-mobile-img-question1.png) 0 0 no-repeat;
    background-size: cover;

    .question {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 16px;
        justify-content: center;
        height: 768px;

        .img {
            position: relative;
            margin-bottom: 30px;
            width: 98px;
            height: 85px;
            background: url(../img/spot.svg) 0 0 no-repeat;
            font-weight: bold;
            font-size: 36px;
            line-height: 85px;
            text-align: center;
            text-transform: uppercase;
            color: #133B4D;
        }
        h2 {
            color: #fff;
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
            margin-bottom: 40px;
        }
        .answers {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 10;

            button {
                background-color: #fff;
                width: 100%;
                max-width: 460px;
                height: 72px;
                border-radius: 16px;
                color: #ffb700;
                text-transform: uppercase;
                font-size: 24px;
                border: 0;
                margin-bottom: 20px;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
            }

            .other-choice {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-bottom: 20px;
                position: relative;
                max-width: 460px;

                button {
                    width: 72px;
                    height: 72px;
                    background: url(../img/icons/send-icon.svg) 54% 50% no-repeat;
                    margin-left: 17px;
                    padding: 25px;
                    background-color: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 0;
                }
                input[type=text] {
                    z-index: 1;
                    border: 0;
                    outline: none;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 16px;
                    height: 72px;
                    color: #008a00;
                    font-size: 18px;
                    font-family: 'Proxima Nova Bold';
                    //padding-left: 25px;
                    text-align: center;
                    transition: width .3s;
                    cursor: pointer;

                    &::placeholder {
                        color: #ffb700;
                        font-size: 24px;
                        text-transform: uppercase;
                        font-family: 'Proxima Nova Bold';
                    }

                    &:focus {
                        width: calc(100% - 115px);
                        text-align: left;
                        padding-left: 25px;

                        &::placeholder {
                            font-size: 18px;
                            text-align: left;
                            color: #008a00;
                        }
                    }

                    &:focus ~ button {
                        background-image: url(../img/icons/send-icon-active.svg);
                    }
                }
            }

            .checkbox-choice {
                width: 100%;
                display: flex;
                flex-direction: row;
                position: relative;
                height: 72px;
                margin-bottom: 20px;
                max-width: 460px;

                .choice, .active-icon {
                    background-color: #fff;
                    border-radius: 16px;
                    text-align: center;
                    padding: 22px 0;
                    box-sizing: border-box;
                }

                .choice {
                    position: absolute;
                    left: 0;
                    height: 72px;
                    width: 100%;
                    color: #ffb700;
                    font-size: 24px;
                    font-family: 'Proxima Nova Bold';
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: width .3s;
                    z-index: 1;

                    &.active {
                        width: calc(100% - 90px);
                    }
                }

                .active-icon {
                    position: absolute;
                    right: 0;
                    width: 72px;
                    height: 72px;
                    background: #fff url(../img/icons/checked-icon.svg) 50% 50% no-repeat;
                    background-size: 32px 26px;
                    z-index: 0;
                }
            }
        }

        a {
            margin-bottom: 120px;
            text-decoration: underline;
            z-index: 10;
            color: #fff;
        }
        .pagination-circles {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 120px;

            span {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #F7F3E5;
                margin: 0 4.5px;

                &.active {
                    background: url(../img/active-circle-white.svg) 0 0 no-repeat;
                    background-size: cover;
                }
            }
        }
        .form-details {
            padding: 100px 0px;
            margin-top: -120px;
            z-index: 1;
            position: relative;
            width: 320px;
    
            &>p {
                margin-bottom: 40px;
            }
    
            h1 {
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 22px;
            }
            
            .divider {
                height: 3px;
                width: 87px;
                background-color: #ffd400;
                margin-bottom: 40px;
            }
    
            .input-text {
                width: 100%;
                margin-bottom: 25px;
                display: flex;
                flex-direction: column;
                position: relative;
    
                &.success {
                    input[type=text] {
                        border-color: #008a00;
                    }
                    #name ~ i {
                        background-image: url(../img/icons/details-name-success-icon.svg);
                    }
                    #phone_number ~ i {
                        background-image: url(../img/icons/detail-phone-success-icon.svg);
                    }
                    #email ~ i {
                        background-image: url(../img/icons/details-email-success-icon.svg);
                    }
                }
                &.error {
                    input[type=text] {
                        border-color: #ff0f00;
                    }
                    #name ~ i {
                        background-image: url(../img/icons/details-name-error-icon.svg);
                    }
                    #phone_number ~ i {
                        background-image: url(../img/icons/detail-phone-error-icon.svg);
                    }
                    #email ~ i {
                        background-image: url(../img/icons/details-email-error-icon.svg);
                    }
                }
    
                label {
                    font-family: 'Proxima Nova Bold';
                    color: #fff;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
    
                input[type=text] {
                    width: 100%;
                    height: 50px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    border: 1px solid #ffd400;
                    background-color: #fff;
                    color: #133b4d;
                    font-size: 14px;
                    font-family: 'Proxima Nova Reg';
                    padding-left: 46px;
                    font-weight: normal;
                    outline: none;
                    transition: border-color .3s;
    
                    &:focus {
                        border-color: #008a00;
                    }
    
                    &::placeholder {
                        color: #d6d6d6;
                        font-size: 14px;
                        font-family: 'Proxima Nova Reg';
                    }
                }
    
                #name ~ i {
                    background: url(../img/icons/details-name-icon.svg) 0 0 no-repeat;
                }
                #name:focus ~ i {
                    background-image: url(../img/icons/details-name-success-icon.svg);
                }
                #phone_number ~ i {
                    background: url(../img/icons/detail-phone-icon.svg) 0 0 no-repeat;
                }
                #phone_number:focus ~ i {
                    background-image: url(../img/icons/detail-phone-success-icon.svg);
                }
                #email ~ i {
                    background: url(../img/icons/details-email-icon.svg) 0 0 no-repeat;
                }
                #email:focus ~ i {
                    background-image: url(../img/icons/details-email-success-icon.svg);
                }
    
                i {
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 47px;
                    left: 16px;
                    transition: background-image .3s;
                }
            }
    
            .input-checkbox {
                position: relative;
                margin-bottom: 35px;
                cursor: pointer;
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 2px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #ffd400;
                    background-color: #fff;
                    border-radius: 5px;
                }
                &.active::after {
                    background: url(../img/icons/checked-icon.svg) 50% 49% no-repeat;
                    border-color: #008a00;
                }
                label {
                    color: #133B4D;
                    font-family: 'Proxima Nova Reg';
                    font-size: 14px;
                    line-height: 28px;
                    padding-left: 40px;
                    display: block;
                }
                input[type=checkbox] {
                    //display: none;
                    position: absolute;
                    left: -9999px;
                }
            }
    
            .input-text, .input-checkbox {
                span {
                    display: block;
                    color: #ff0f00;
                    font-size: 14px;
                    margin-top: 14px;
                    margin-left: 16px;
                    font-family: 'Proxima Nova Reg';
                }
            }
    
            input[type=submit] {
                border: 0;
                border-radius: 16px;
                background-color: #008a00;
                color: #fff;
                font-size: 18px;
                font-family: 'Proxima Nova Reg';
                letter-spacing: .1em;
                font-weight: 600;
                text-transform: uppercase;
                width: 100%;
                height: 50px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

footer {
    color: #133b4d;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Proxima Nova Bold";
    padding-bottom: 60px;


    .ss-links {
        display: flex;
        flex-direction: row;
        margin-right: 10px;

        &>a {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
            
            $links: instagram, linkedin, facebook;

            @each $link in $links {
                &.#{$link} {
                    background: url(../img/icons/tours-pages/desktop/#{$link}.svg) 0 0 no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}

.desk {
    display: none !important;
}
.mob {
    display: inherit !important;
}

@media only screen and (min-width: 375px) {
    .about-us, .main-block {
        padding-top: 0px;
        .landscape {
            min-height: 650px;
            $imgs: first, second, third;
    
            @each $img in $imgs {
                &.#{$img} {
                    background: url(../img/tablet/about-us-back-z2-#{$img}.png) 50% 100% no-repeat;
                }
            }
        }
        .alice-carousel__dots {
            bottom: 30%;
        }
    }
    .test {
        background: url(../img/tablet/test-img-question1.png) 50% 0 no-repeat;
        background-size: cover;
        padding-top: 150px;

        .question{
            height: 768px;
        } 
    }
}

@media only screen and (min-width: 450px) {
    .details-page, .tours-page {
        &__main-block {
            background-image: url(../img/tablet/details-back-z2.png);
            background-position-x: 50%;
        }

        .form-details {
            margin-top: -100px;
        }
    }
}

@media only screen and (min-width: 650px) {
    .types-of-tours {
        .type {
            flex-direction: row;

            .description {
                margin-top: 0px;
                width: 65%;
            }

            &:nth-child(6) {
                flex-direction: row-reverse;
            }
        }
    }

    .tours-page {
        .content {
            .tour-property-card-container {width: 560px;}

            &.paot-page .line.third {display: none;}
        }
    }
}


@media only screen and (min-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 39px;
    }
    h2 {
        font-size: 24px;
        line-height: 29px;
    }
    p {
        font-size: 20px;
        line-height: 150%;
    }

    .he {
        .about-us {
            .description {
                background-size: 130% 130%;
                width: 450px;
                height: 500px;
                h1 {
                    margin-right: 130px;
                }
                p {
                    margin-left: 20px;
                }
            }
        }
    }

    header {
        background-color: #3d5ecc;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 16px 16px;
        background-image: none;

        .logo::before {
            width: 64px;
        }
    }

    .about-us {

        p { text-align: right; margin-right: 30px; }
        h1 { font-size: 34px; margin-right: 30px;  }

        
        .description {
            background: url(../img/tablet/about-us-back-z1.svg) 0 -50px no-repeat;
            position: absolute;
            width: 400px;
            height: 500px;
            display: flex;
            padding-top: 0;
            flex-direction: column;
            justify-content: center;
            bottom: 110px;
            padding-bottom: 0;

            p {
                width: 300px;
                font-size: 20px;
            }
            h1 {
                font-size: 34px;
            }
            h1, p {
                margin-left: 40px;
                text-align: left;
            }
        }
        .landscape {
            height: 768px;
            background: url(../img/desktop/about-us-back-z3-first-thumb.png) 50% 0 no-repeat;
            background-size: cover;
            filter: blur(5px);

            $imgs: first, second, third;

            @each $img in $imgs {
                &.#{$img} {
                    background: url(../img/desktop/about-us-back-z3-#{$img}.png) 50% 0 no-repeat;
                    background-size: cover;
                    filter: none;
                }
            }
        }

    }

    /* tours page */
    .tours-page {
        &__main-block {
            padding: 240px 117px 250px;
            

            h1 {
                font-size: 36px;
                line-height: 44px;
                max-width: 414px;
            }
            p {line-height: 27px;}
        }
        .content {
            padding: 90px 115px 55px;
        }
        .contact-us {
            padding-top: 130px;
            
            p{
                font-size: 20px;
                max-width: 390px;

                &::after {
                    height: 4px;
                    width: 98px;
                    border-radius: 10px;
                }
            }
            a.btn-contact {
                width: 450px;
            }
        }
        footer {
            background-color: #008a00;
            justify-content: space-around;

            p{font-size: 18px;}

            &::before {
                background-image: url(../img/tablet/tours-page-footer.svg);
            }

            .ss-links {
                display: flex;
                flex-direction: row;
    
                &>div {
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                    
                    $links: instagram, linkedin, facebook;
    
                    @each $link in $links {
                        &.#{$link} {
                            background: url(../img/icons/tours-pages/tablet/#{$link}.svg) 0 0 no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
    /* end tours page */

    /* details page */

    .details-page {

        &.he {
            .details-page__description {
                margin-top: 10px;
            }
        }

        &__main-block {
            background-image: url(../img/desktop/details-back-z2-thumb.png);

            &.active {
                background-image: url(../img/desktop/details-back-z2.png);
            }
            .logo {
                margin: 30px 33px;
                margin-bottom: 50px;
                &::before {
                    width: 64px;
                }
            }
        }
    
        &__description {
            margin-top: 20px;

            h1 {
                margin-bottom: 23px;
                font-size: 34px;
                margin-left: 60px;

                &::after {
                    width: 145px;
                }
            }
            ul {
                margin-left: 60px;
                max-width: 440px;

                li {
                    font-size: 20px;
                }
            }
        }
    
        .form-details {
            margin-left: auto;
            margin-right: auto;

            h1 {
                font-size: 24px;
            }

            &>p {
                font-size: 20px;
            }
    
            .input-text {
                input[type=text] {
                    height: 60px;
                    font-size: 18px;
                    padding-left: 60px;
    
                    &::placeholder {
                        font-size: 18px;
                    }
                }
    
                i {
                    width: 30px;
                    height: 30px;
                    background-size: contain !important;
                }
            }
    
            .input-checkbox {
                padding-left: 10px;
                label {
                    font-size: 18px;
                    line-height: 35px;
                }
    
                &::after {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    background-size: 70% 70% !important;
                }
            }
    
            input[type=submit] {
                max-width: 295px;
                height: 60px;
                margin-left: 10px;
            }
        }
    }
    /* end details page */

    .tours {
        margin-top: 50px;
        padding-top: 80px;
        align-items: flex-end;
        padding: 80px 80px 140px 80px;
        justify-content: center;

        .cards {
            max-width: 620px;
            width: 620px;
            margin: 0 auto;
        }

        &>.divider { margin-bottom: 80px; }
        .paginator { justify-content: space-between; }
    }

    .types-of-tours {
        .type {
            padding: 30px;
            justify-content: space-between;
            .description { max-width: 50%; }

            .img {
                width: 40%;
                &::after {
                    width: 400px;
                    height: 350px;
                }
            }

            &:nth-child(5) {    
                .img {
                    &::before {
                        width: 478px;
                        height: 400px;
                        top: -80px;
                        left: -15px;
                        background-size: cover;
                    }                
    
                    &::after {
                        background: url(../img/private-journeys-mobile.png) 0 0 no-repeat;
                        left: 10px;
                        background-size: contain;
                    }
                }
            }
            &:nth-child(6) {    
                .img::after {
                    background: url(../img/group-journeys-mobile.png) 0 0 no-repeat;
                    right: 10px;
                    background-size: contain;
                }
                .img::before {
                    background: url(../img/group-journeys-mobile-bckg.svg) 0 0 no-repeat;
                    width: 374px;
                    height: 335px;
                    top: -20px;
                    right: 25px;
                    background-size: cover;
                } 
            }
            &:nth-child(7) {    
                .img::after {
                    background: url(../img/expeditionary-cruising-mobile.png) 0 0 no-repeat;
                    left: 10px;
                    background-size: contain;
                }
                .img::before {
                    background: url(../img/expeditionary-cruising-mobile-bckg.svg) 0 0 no-repeat;
                    width: 478px;
                    height: 400px;
                    top: -80px;
                    left: -40px;
                    background-size: cover;
                } 
            }
        }
    }

    .reviews {
        padding-bottom: 150px;
        .review {
            &>p { max-width: 460px; }

            .addresser { 
                flex-direction: column-reverse;
                align-items: center;

                span { margin: 10px 0; }
            }
        }
        .paginator {
            justify-content: space-between;
            button {margin: 0 30px;}
        }
    }

    .test {
        background-image: url(../img/desktop/test-img-question1.png);
        background-size: cover;
    }

    footer { font-size: 20px; }
}

@media only screen and (min-width: 1110px) {
    .desk {
        display: inherit !important;
    }
    .mob {
        display: none !important;
    }

    .he {
        header {
            flex-direction: row-reverse;
            .menu {
                flex-direction: row-reverse;
            }
        }

        .about-us {
            .description {
                width: 100%;
                align-items: center;
                justify-content: start;
                h1 {
                    margin-right: auto;
                    &::after {
                        margin-left: auto;
                    }
                }
            }
        }
    }
    
    header {
        justify-content: center;

        .burger { display: none; }

        .logo {
            font-size: 18px;
            margin-right: 25px;
            &.active { 
                color:#fff;
                &::before {
                    background-image: url(../img/logo.svg);
                    background-size: contain;
                } 
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            position: relative;
            top: 0;
            width: auto;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            height: auto;
            transition: none;
            padding: 0;
            height: 100%;

            &>.nav {
                height: 100%;
                color: #fff;
                font-family: "Proxima Nova Reg";
                font-size: 22px;
                margin: 0 35px;
                position: relative;

                &>a {
                    display: flex; 
                    justify-content: center;
                    align-items: center;
                    height: 100%; 
                    color: #fff;
                }

                &.lang {
                    border-color: #fff;
                    margin-right: 0;
                }

                &:hover ul {
                    max-height: 340px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background-color: #fff;
                    border-radius: 0 0 16px 16px;
                    padding: 0px 30px;
                    left: -30px;
                    width: 150%;
                    margin: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .3s;

                    li {
                        display: block;
                        list-style: none;
                        margin-top: 30px;
                        a {
                            display: block;
                            
                            color: #3D5ECC;
                            font-size: 18px;
                            line-height: 22px;
                            text-align: left;
                        }

                        &:first-of-type {margin-top: 35px;}
                        &:last-of-type {margin-bottom: 35px;}
                    }
                }
            }
        }
    }

    .about-us-page {
        .about-us { z-index: 4; }
    }

    .about-us {
        max-height: 960px;
        z-index: 2;

        .description {
            height: initial;
            bottom: initial;
            top: 300px;
            background: none;
            width: 100%;
            
            h1, p { 
                text-align: left; 
                width: 100%;
                width: 1090px;
                margin-left: auto;
                margin-right: auto;
            }

            h1 {
                font-size: 48px;
                &::after {
                    content: "";
                    display: block;
                    height: 4px;
                    width: 143px;
                    background-color: #fff;
                    margin-top: 10px;
                }
            }
            p {
                font-size: 26px;
            }
        }

        .landscape {
            max-width: initial;
            height: 960px;
            position: relative;
            background-size: cover;
            margin-right: 40px;
            top: 0;
            left: 0;            
        }

        .phone_number {
            top: 150px;
            left: calc(50% - 545px);
        }
    }

    .tours {
        //margin-top: -270px;
    }

    .types-of-tours {
        .type {
            padding-top: 100px;

            .description {
                p {margin-bottom: 30px;}
                &::after {height: 640px;}
            }

            &:nth-child(6) {
                z-index: 5;
                .description a {margin-left: auto;}
            } 
        }
    }

    .tours-page {
        .content {
            .tour-property-card-container {width: 840px;}
            &.paot-page .line.second, &.gs-page .line.third {display: none;}
        }
    }
}

@media only screen and (min-width: 1260px) {
    h1 { font-size: 36px; line-height: 44px; }
    h2 { font-size: 28px; line-height: 34px; }
    p { font-size: 20px; }

    .he {
        .tours {
            align-items: flex-end;
        }
        .types-of-tours {
            .type {
                .description {
                    .num {
                        top: -7px;
                    }
                    &::before {
                        top: 67px !important;
                    }
                }
            }
        }
    }

    /* tours page */
    .tours-page {
        &__main-block {
            background-image: url(../img/desktop/details-back-z2.png);
            justify-content: initial;
            z-index: 1;
            padding: 226px 180px 250px;

            h1 {
                font-size: 36px;
                line-height: 44px;
                max-width: 600px;
            }
            p {
                font-size: 24px;
                line-height: 150%;
                max-width: 450px;
            }
        }

        .contact-us {
            background-image: url(../img/desktop/reviews-backg.svg);
            height: 793px;
            padding: 170px calc(100% - 878px) 0 368px;
            box-sizing: border-box;
            align-items: unset;
            margin-top: -55px;
            z-index: 3;
            width: 102%;
            margin-left: -20px;
            margin-right: -20px;
            background-size: 100% 100%;

            .icon, p, a.btn-contact {margin-left: auto; margin-right: auto;}

            p {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 50px;

                &::after {
                    margin-top: 30px;
                }
            }
            a.btn-contact {
                height: 60px;
                width: 510px;
                font-size: 24px;
            }
        }

        footer {
            background: none;
            margin-top: -50px;
            justify-content: unset;
            padding: 0 0 50px 150px;

            p {
                font-size: 24px;
                color: #133B4D;
                font-family: "Proxima Nova Bold";
            }

            &::before {
                background: none;
            }

            .ss-links {
                display: flex;
                flex-direction: row;
    
                &>div {
                    width: 80px;
                    height: 80px;
                    margin-right: 40px;
                    
                    $links: instagram, linkedin, facebook;
    
                    @each $link in $links {
                        &.#{$link} {
                            background: url(../img/icons/tours-pages/desktop/#{$link}.svg) 0 0 no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
    /* end tours page */

    /* details page */

    .details-page {

        &.he {
            .details-page__description {
                h1::after {
                    right: 0;
                }
            }
        }

        &__main-block {
            max-height: 900px;
            height: 900px;
            justify-content: initial;
            z-index: 1;

            &>.logo {
                width: 1200px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .desktop-bottom-landscape {
            height: 684px;
            width: 800px;
            background: url(../img/desktop/bottom-landscape.svg) 0 0 no-repeat;
            background-size: cover;
            position: absolute;
            right: 0;
            top: 350px;
            z-index: 0;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 800px;    
                top: 30px;
                height: 620px;
                background: url(../img/desktop/bottom-landscape-front.png) 100% 0 no-repeat;
                background-size: contain;
            }
        }

        &__description {
            height: 460px;
            z-index: 1;
            margin-top: 100px;
            width: 1200px;
            margin-left: auto;
            margin-right: auto;

            h1 {
                margin-left: 0;
                margin-top: 170px;
                font-size: 48px;
                position: relative;
                margin-bottom: 45px;
            }
            p {
                font-size: 24px;
            }
            ul {
                margin-left: 0;
            }
        }

        .form-details {
            margin-left: 160px;
            padding-top: 180px;
            z-index: 10;
            max-width: 648px;

            .input-text {
                z-index: 10;
            }
            h1 {
                z-index: 10;
            }
        }
        
    }

    /* end details page */
    .tours {
        padding-top: 0px;
        margin-top: 0px;
        align-items: flex-start;
        padding-right: calc(50% - 470px);
        padding-left: calc(50% - 470px);
        background-image: url(../img/desktop/backg-popular-tours.svg);
        position: relative;
        background-size: cover;
        min-height: 1450px;

        h1 {
            margin-top: 0;
        }

        &>.divider { margin-bottom: 133px; }
        .cards { 
            z-index: 2;
            max-width: 940px;
            width: 940px;
            margin: 0 auto;
        }

        .desktop-line {
            background: url(../img/desktop/line-popular-tours.svg) 50% 0 no-repeat;
            width: 100%;
            height: 520px;
            position: absolute;
            top: 550px;
            left: 0;
            z-index: 1;
        }

        .desktop-img {
            width: 1345px;
            height: 750px;
            position: absolute;
            right: -680px;
            background: url(../img/desktop/backg-img-popular-tours.svg) 0 0 no-repeat;
            top: 100px;
            z-index: 1;

            &::before {
                content: "";
                display: block;
                position: absolute;
                background: url(../img/desktop/img-popular-tours.png) 0 0 no-repeat;
                width: 1345px;
                height: 690px;
                z-index: 0;
                right: -55px;
            }
        }

        .description {margin: 160px auto 50px;}
    }

    .types-of-tours {
        align-items: flex-end;
        width: 996px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 400px;

        &>h1 {
            margin-top: 150px;
        }

        .divider { 
            background-color: #ffd400;
            margin-bottom: 150px; 
        }

        .desktop-img {
            width: 1345px;
            height: 750px;
            position: absolute;
            right: -680px;
            background: url(../img/desktop/backg-img-popular-tours.svg) 0 0 no-repeat;
            top: 480px;
            z-index: 1;

            &::before {
                content: "";
                display: block;
                position: absolute;
                background: url(../img/desktop/img-popular-tours.png) 0 0 no-repeat;
                width: 1345px;
                height: 690px;
                z-index: 0;
                right: -55px;
            }
        }
        &>p { 
            max-width: 460px; 
            text-align: right; 
            margin-right: 0; 
            margin-bottom: 178px; 
        }

        .type {
            width: 100%;

            p { max-width: 280px; }
            h2 { color: #ffb700 !important; }

            .description { 
                position: relative;
                 max-width: 400px;

                .num {
                    position: absolute;
                    top: -7px;
                    left: -77px;
                    font-size: 72px;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    background: url(../img/desktop/types-backg-1.svg) 0 0 no-repeat;
                    background-size: contain;
                    width: 800px;
                    top: -175px;
                    left: -208px;
                    z-index: -1;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: url(../img/desktop/zigzag.svg) 0 0 no-repeat;
                    background-size: contain;
                    width: 160px;
                    height: 160px;
                    top: 67px;
                    left: -125px;
                    z-index: 3;
                }
            }

            &:nth-child(5) {
                margin-bottom: 236px; 

                .num {
                    top: 27px;
                }

                .description::before {
                    top: 97px;
                }

                &::after {
                    background-image: url(../img/desktop/types-line-1.svg);
                    background-size: cover;
                    width: 100vw;
                    top: -130px;
                    left: calc(558px - 50vw);
                }
            }

            &:nth-child(6) {
                margin-bottom: 195px;
                .description { 
                    p { margin-left: auto; }

                    .num {
                        right: -77px;
                    }

                    &::after {
                        background: url(../img/desktop/types-backg-2.svg) 0 0 no-repeat;
                        right: -250px;
                        top: -180px;
                        background-size: contain;
                        width: 700px;
                        left: auto;
                    }

                    &::before {
                        background: url(../img/desktop/zigzag.svg) 0 0 no-repeat;
                        right: -140px;
                        left: auto;
                        background-size: contain;
                    }
                }

                &::after {
                    background-image: url(../img/desktop/types-line-2.svg);
                    background-size: cover;
                    width: 100vw;
                    top: -130px;
                    left: calc(558px - 50vw);
                    height: 380px;
                }
            }

            &:nth-child(7) {
                .num {
                    top: 27px;
                }

                .description::before {
                    top: 97px;
                }
                &::after {
                    background-image: url(../img/desktop/types-line-3.svg);
                    background-size: cover;
                    width: 100vw;
                    top: -130px;
                    left: calc(558px - 50vw);
                    height: 380px;
                }
            }



            &:nth-child(5) .img {
                position: absolute;
                top: -570px;
                left: -500px;

                &::before {
                    background-image: url(../img/desktop/types-backg-for-img-1.svg);
                    width: 1115px;
                    height: 570px;
                }
                &::after {
                    background-image: url(../img/desktop/types-backg-img-1.png);
                    width: 1113px;
                    height: 578px;
                    top: -119px;
                    left: -26px;
                }
            }

            &:nth-child(6) .img {
                position: absolute;
                top: -380px;
                right: -485px;
                z-index: 4;

                &::before {
                    background-image: url(../img/desktop/types-backg-for-img-2.svg);
                    width: 1115px;
                    height: 570px;
                    top: -150px;
                    right: -15px;
                }
                &::after {
                    background-image: url(../img/desktop/types-backg-img-2.png);
                    width: 1113px;
                    height: 578px;
                    top: -119px;
                    right: -26px;
                }
            }
            
            &:nth-child(7) .img {
                position: absolute;
                top: -420px;
                left: -500px;
                z-index: 4;

                &::before {
                    background-image: url(../img/desktop/types-backg-for-img-3.svg);
                    width: 1029px;
                    height: 731px;
                }
                &::after {
                    background-image: url(../img/desktop/types-backg-img-3.png);
                    width: 1023px;
                    height: 738px;
                    top: -119px;
                    left: -26px;
                }
            }
        }
    }

    .reviews {
        background-image: url(../img/desktop/reviews-backg.svg);
        height: 993px;
        padding: 0;
        justify-content: center;
        margin-top: -255px;
        z-index: 3;
        width: 102%;
        margin-left: -20px;
        margin-right: -20px;
        background-size: cover;

        .paginator {
            width: 996px;
            position: relative;
            justify-content: center;

            button {
                position: absolute;
                top: -240px;

                &.right { right: 0; }
                &.left { left: 0; }
            }
        }
    }

    .test {
        position: relative;
        margin-top: -225px;
        background-size: cover;
        height: 1000px;
        padding-top: 200px;

        .question {
            h2 { 
                font-size: 36px;
                width: 460px;
                margin: 0 0 70px 0;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .description#about_us {
        padding-top: 100px;
        margin-top: 60px;
    }
    .about-us {
        .landscape {
            background-size: 100% 100% !important;
        }
        
    }
    /* tours page */
    .tours-page {
        &__main-block {
            padding: 250px calc(50% - 600px) 280px;
        }
        .content {
            padding-bottom: 200px;
            .tour-property-card-container {width: 1120px;}

            .line.third {display: none;}

            &.paot-page .tour-property-card-container {width: 840px;}

            .shape {
                position: absolute;
                z-index: 0;
                &.first {
                    width: 400px;
                    height: 580px;
                }
                &.second {
                    width: 492px;
                    height: 713px;
                }
            }

            &.pct-page {
                .shape.first {
                    top: -250px;
                    right: 12px;
                    background: url(../img/icons/tours-pages/desktop/pct-shape-first.svg) 0 0 no-repeat;
                    background-size: contain;
                }
                .shape.second {
                    bottom: -450px;
                    left: 200px;
                    background: url(../img/icons/tours-pages/desktop/pct-shape-second.svg) 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &.gs-page {
                .shape.first {
                    width: 540px;
                    top: -400px;
                    right: 100px;
                    background: url(../img/icons/tours-pages/desktop/gs-shape-first.svg) 0 0 no-repeat;
                    background-size: contain;
                }
                .shape.second {
                    width: 630px;
                    bottom: -400px;
                    left: 85px;
                    background: url(../img/icons/tours-pages/desktop/gs-shape-second.svg) 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &.paot-page {
                .shape.first {
                    width: 540px;
                    top: -200px;
                    left: 200px;
                    background: url(../img/icons/tours-pages/desktop/paot-shape-first.svg) 0 0 no-repeat;
                    background-size: contain;
                }
                .shape.second {
                    width: 630px;
                    bottom: 0px;
                    right: -250px;
                    background: url(../img/icons/tours-pages/desktop/paot-shape-second.svg) 0 0 no-repeat;
                    background-size: contain;
                }
            }
        }
        .contact-us {
            position: relative;
            .landscape {
                height: 905px;
                width: 48%;
                background: url(../img/desktop/contact-us-landscape.png) 0 0 no-repeat;
                background-size: contain;
                right: 0;
                top: -170px;
                position: absolute;
            }
        }
    }
    /* end tours page */
    .details-page {
        .form-details {
            margin-left: 360px;
        }
    }
    .reviews {
        //background-size: 100% 100%;
    }
    .test {
        background-size: 100% 100%;
    }
}

@media only screen and (min-width: 1750px) {
    .details-page {
        .desktop-bottom-landscape {
            top: 520px;
        }
    }
}